body {
    font-family: Roboto;
}

.wrapper {
    padding-left: 80px;
    padding-right: 80px;
}

header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
}

.header-background {
    background-color: #1f2937;
}

.header {
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
}

.logo-link {
    font-size: 24px;
    color: #f9faf8;
    text-decoration: none;
    font-weight: 700;
}

.header-link-one,
.header-link-two,
.header-link-three {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
    font-weight: 300;
    margin-right: 8px;
}

.header-link-three {
    margin-right: 0;
}

.hero {
    background-color: #1f2937;
    padding: 120px 0;
}

.hero-content {
    display: flex;
}


.left-text {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 300;
    flex: 1;
}

.bolded {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 8px;
}

.hero-sign-up {
    margin-top: 15px;
    display: block;
    background-color: #3882f6;
    border: none;
    font-size: 18px;
    color: #f9faf8;
    font-weight: 600;
    padding: 5px 30px;
    border-radius: 9px;
}

.right-rectangle {
    background-color: rgb(98, 101, 107);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-in-rectangle {
    font-size: 18px;
    color: #f9faf8;
    font-weight: 400;
}

.cards-section-text {
    margin: 40px 0;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;

}

.cards-container {
    display: flex;
    padding: 0 20px;
    gap: 50px;
}

.card-square {
    border:#3882f6 3px solid;
    border-radius: 5px;
    height: 13vmin;
    margin-bottom: 6px;
}

.card-text {
    text-align: center;
    font-size: 18px;
    color: #1f2937;
    font-weight: 300;
}

.cards {
    padding-bottom: 120px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 30px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 300;
    margin-bottom: 10px;
}

.quote-author {
    color: #1f2937;
    text-align: end;
    font-weight: 700;
    font-size: 18px;
}

.action-section {
    background-color: #3882f6;
    margin: 80px;
    padding: 30px 50px;
    border-radius: 5px;
    display: flex;
}

.action-text {
    font-size: 20px;
    font-weight: 700;
    color: #f9faf8;
    margin-bottom: 5px;
}

.action-subtext {
    font-size: 20px;
    font-weight: 300;
    color: #e5e7eb;
}

.action-text-area {
    flex: 2;
}

.action-button-area {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-button {
    background-color: #3882f6;
    border: 2px #f9faf8 solid;
    font-size: 18px;
    color: #f9faf8;
    font-weight: 600;
    padding: 5px 30px;
    border-radius: 9px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: #e5e7eb;
    font-weight: 300;
    padding: 20px 0;
}
